{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <center>
        <div>
            <div class="col-lg-4">
                <img class="thumbnail" src="{{object.imageURL}}">
                <div class="box-element product">
                    <h6><strong>{{product.name}}</strong></h6>
                <p class="lead">
                    <span class="mr-1">
                        <span>₱{{object.price|floatformat:2}}</span>
                    </span>
                </p>
                <p class="lead" style="text-align: justify; font-size: small; margin-bottom: 30px; margin-left: 10px; margin-right: 10px;">
                    {{object.description}}
                </p>
                <button data-product={{object.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                </a>
                </div>
            </div>
        </div>
    </center>
{% endblock content %}